img {
  width: auto;
  height: auto;
  max-width: 100%;
}

pre.code {
  display: block;
  white-space: pre;
  text-align: left;
}

.note {
  background-color: #f9f9f9;
  border-left: 4px solid #007acc;
  padding: 10px;
  margin: 10px 0;
  font-size: 0.95em;
}

.code {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.95em;
  color: #333;
  overflow-x: auto;
}